.submain-container
    .toolbar
        ::ng-deep .mat-accent .mat-slider-thumb 
            background-color: #D168FF 
        ::ng-deep .mat-accent .mat-slider-thumb-label 
            background-color: #D168FF 
        ::ng-deep .mat-accent .mat-slider-track-fill 
            background-color: #D168FF 
        .speed-icon
            font-size: 20px
            color: white
    .section
        height: 800px
        padding: 10px


