.submain-container
    .toolbar
        ::ng-deep .mat-accent .mat-slider-thumb 
            background-color: #D168FF 
        ::ng-deep .mat-accent .mat-slider-thumb-label 
            background-color: #D168FF 
        ::ng-deep .mat-accent .mat-slider-track-fill 
            background-color: #D168FF 
        .speed-icon
            font-size: 20px
            color: white
        mat-slider
            width: 80%
    .section
        padding: 10px
        height: 1400px
        .custom-panel
            width: 100%
            padding: 10px
            border-radius: 6px
            .custom-value
                width: 180px
                padding: 4px 10px
                border-radius: 6px
            .edit-button
                margin: 10px
                border: 1px solid white
                background-color: rgba(0,0,0,0)
                width: 40px
                border-radius: 4px
                color: white
                font-weight: bold
                font-size: 18px
                &:hover
                    background-color: white
                    color: black


