#board-wrapper
    width: 100%
    height: 400px 
    background-color: white 
.values-wrapper
    width:100%
    margin-top: 20px
    .value
        display: inline-block
        float: left
        padding: 10px
        border: 2px solid white
        color: white
        font-size: 12px
        margin: 4px 2px 4px 2px
    .swapped
        background: white
        color: #990000
        font-weight: bold
        border-radius: 4px
        border: 2px solid #ed594e
    .compared
        background: white
        font-weight: bold
        color: #0d0d26
        border-radius: 4px