<div class="home-container">
  <div class="header">
    <div class="text glow">
      Algorithms Visualizer
    </div>
  </div>
  <div class="section">
    <div class="col-md-12 row">
      <div class="card-wrapper col-md-4 col-sm-6" [routerLink]="['sorting-algorithms']">
        <div class="card">
          <span>Sorting Algorithms</span>
        </div>
      </div>
      <div class="card-wrapper col-md-4 col-sm-6" [routerLink]="['']">
        <div class="card">
          <span>Path Finding Algorithms</span>
        </div>
      </div>
      <div class="card-wrapper col-md-4 col-sm-6" [routerLink]="['']">
        <div class="card">
          <span>Misc</span>
        </div>
      </div>
    </div>
  </div>
  <div class="glow-footer">
      while(noSuccess)
      &#123;
        tryAgain();
        if(Dead)
          break;
      &#125;
  </div>
<div>
